
@{
    ViewBag.Title = "Logo";
}

@{
    var clubs = ViewData["clubs"] as List<ComputerClub.Models.Club>;
    var club = clubs.First();
}

<div class="schedule">
    @Html.Partial("_LeftMenu")
    <div class="img-div">
        <h3>Лого</h3>
        @if (Roles.IsUserInRole("Admin"))
        {
            <div class="add-div">
                <a href='@Url.Action("Edit", "Logo",
               new { ClubID = club.ClubID })'
                   class="mybtn-warning">
                    Редагувати лого
                </a>
            </div>
        }
        <img src='@Url.Action("GetLogoImage", "Club", new { itemId = clubs.First().ClubID })'>
    </div>
</div>

