html, body {
    background-image: url('http://cyberzone.kiev.ua/img/back1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Helvetica', 'Verdana', 'Noto-sans', 'Nunito', sans-serif;
    font-weight: 200;
    min-height: 100%;
    margin: 0;
}

.main-container {
    min-height: calc(100vh - 60px);
}

.admin-span {
    font-size: 1.5em;
    color: #ffef0a;
    text-decoration: underline;
    padding: 15px 0;
    display: block;
}

.admin-hr {
    border-style: solid;
}

.manage-div {
    width: 1100px;
    margin: 100px auto;
}

.manage-div dd,
.manage-div dt
{
    font-size: 1.5em;
}

a:visited {
    color: inherit;
}

.log-off-link {
    padding-left: 15px;
}

.form-horizontal {
    margin: 100px auto;
    width: 1100px;
    color: #ffef0a;
}

.form-horizontal h2 {
    text-align: center;
    color: #fff;
    font-size: 3em;
}

.form-horizontal > .form-group,
.form-horizontal a
{
    font-size: 1.2em;
}

.form-horizontal .btn-submit {
    color: #eaeaeb;
    background: #343a40;
    border: 0;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 1.5em;
}

.form-horizontal .btn-submit:hover {
    background: #23272b;
}

.games > .img-div > .table,
.platforms > .img-div > .table
{
    background: #343a40;
    color: #ffef0a;
}

.games > .img-div > .table td img,
.platforms > .img-div > .table td img
{
    width: 100px;
    height: 100px;
}

.games > .img-div .table td,
.games > .img-div .table tr,
.games > .img-div > .table th,
.platforms > .img-div .table td,
.platforms > .img-div .table tr,
.platforms > .img-div > .table th
{
    border-color: #454d55;
    text-align: center;
    padding: 15px;
    font-size: 1.1em;
}

.prices, .schedule, .games, .platforms {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: auto;
}

.games, .platforms {
    margin-bottom: 50px;
}

.games > .img-div, .platforms > .img-div
{
    margin: 20px auto;
    padding-left: 10px;
}

.schedule > .img-div {
    text-align: center;
    margin-top: 25px;
    margin-right: 250px;
}

.prices > .img-div {
    margin-right: 175px;
}

.prices > .event-div {
    margin-right: 50px;
    font-size: 1.5em;
    width: 750px;
}

.prices > .event-div h3 {
    color: #ffef0a;
    font-size: 2em;
    margin-top: 50px;
    text-align: center;
}

.schedule > .img-div h3
{
    color: #ffef0a;
    font-size: 3em;
    margin-top: 50px;
}

.schedule > .img-div p {
    color: #fff;
    font-size: 1.8em;
}

.prices > .img-div h3, .games > .img-div h3,
.platforms > .img-div h3
{
    text-align: center;
    font-size: 3em;
    color: #ffef0a;
    margin-top: 50px;
}

.games > .img-div > .header,
.platforms > .img-div > .header
{
    color: #ffef0a;
    font-size: 1.4em;
}

.games > .img-div, .platforms > .img-div
{
    width: 100%;
}

.prices > .left-menu, .schedule > .left-menu,
.games > .left-menu, .platforms > .left-menu
{
    margin-top: 100px;
}

.schedule > .left-menu a, .prices > .left-menu a,
.games > .left-menu a, .platforms > .left-menu a
{
    display: block;
    font-size: 1.4em;
}

.main { 
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 50px auto;
}

.main > .img-div {
    text-align: center;
}

a {
    color: #fff;
}
a:hover {
    color:  #fff;
}

.last-events {
    width: 250px;
}

.game-name {
    color: #c30c08;
}

.last-events > a {
    color: #fff;
}

.left-menu {
    width: 300px;
    color: #fff;
    font-size: 1.2em;
}

.left-menu > .address-p {
    color: #ffef0a;
}

.left-menu > hr {
    border-color: #ffef0a;
    border-style: dotted;
}

.left-menu > h3 {
    color: #ffef0a;
}

.left-menu > .name-h3 {
    display: inline;
}

.header-div {
    display: flex;
    justify-content: center;
    width: 1100px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    padding-top: 15px;
}

.login-div {
    display: flex;
    justify-content: space-between;
    width: 150px;
    font-size: 1.4em;
    align-items: center;
}

.login-div > a {
    color: #fff;
}
.login-div > a:hover {
    color: #ffef0a;
    text-decoration: none;
}

.nav-div {
    display: flex;
    justify-content: space-between;
    width: 475px;
    font-size: 1.4em;
    align-items: center;
}

.nav-div > a {
    color: #fff;
}
.nav-div > a:hover {
    color: #ffef0a;
    text-decoration: none;
}

.footer-div {
    display: flex;
    justify-content: center;
    background: #0a0a0a;
    width: 1100px;
    margin: auto;
    padding: 30px;
    margin-bottom: 30px;
}

footer {
    display: flex;
    justify-content: space-between;
}

.copyright-div {
    color: #566464;
    font-size: 0.8em;
    width: 30%;
    text-align: left;
}

.site-name {
    color: #710d0a;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 325px;
}

.footer-nav > a {
    color: #fff;
    font-size: 1.2em;
}
.footer-nav > a:hover {
    color: #ffef0a;
    text-decoration: none;
}

.address-div {
    color: #ffef0a;
    width: 30%;
}

.address-title {
    text-decoration: underline;
}

