@{
    ViewBag.Title = "Home";
}

<div class="main">
    <div class="left-menu">
        <p>
            <h3 class="name-h3">CyberZone</h3>
            - найкращий комп`ютерний клуб міста
        </p>
        <hr />
        <p>
        <p class="address-p">
            <span class="address-title">Адреса:</span>
            Разіна 17
            ТЦ Метроград, 2-й поверх
            <span class="address-title">Телефон:</span>
            +380(93)247-56-47<br />
            <span class="address-title">Режим роботи:</span>
            Кожний день. 9.00-07.00
        </p>
        <h3>Анонси</h3>
        <h3>Останні події</h3>
        <p class="last-events">
            <a href="#">
                З 19.12.2019 14:00
                по 21.12.2019 20:00 Відбувся
                Турнір по <span class="game-name">CS GO</span>
            </a>
        </p>
        <p class="last-events">
            <a href="#">
                З 19.12.2019 14:00
                по 21.12.2019 20:00 Відбувся
                Турнір по <span class="game-name">CS GO</span>
            </a>
        </p>
        <p class="last-events">
            <a href="#">
                З 19.12.2019 14:00
                по 21.12.2019 20:00 Відбувся
                Турнір по <span class="game-name">CS GO</span>
            </a>
        </p>
        <p class="last-events">
            <a href="#">
                Та інші...
            </a>
        </p>
        <h3>Ігри</h3>
        <p class="game-list">
            <span>CS GO</span><br />
            <span>CS GO</span><br />
            <span>CS GO</span><br />
            <span>CS GO</span><br />
            <span>CS GO</span><br />
            <span>CS GO</span><br />
            <span>CS GO</span><br />
            <span>CS GO</span><br />
            <span>CS GO</span><br />
            <a href="#">
                Та інші...
            </a>
        </p>
        <h3>Платформи</h3>
        <p class="game-list">
            <span>Windows</span><br />
            <span>PS4</span><br />
            <a href="#">
                Та інші...
            </a>
        </p>
    </div>
    <div class="img-div">
        <img src="http://cyberzone.kiev.ua/img/main.png">
        <img src="http://cyberzone.kiev.ua/img/comp.png">
    </div>
</div>