
@{
    ViewBag.Title = "Platforms";
}

<div class="platforms">
    @Html.Partial("_LeftMenu")
    <div class="img-div">
        <h3>Усі платформи</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Фото</th>
                    <th>Назва</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><img src="~/Content/img/windows.jfif"></td>
                    <td><span>Windows</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

