
@{
    ViewBag.Title = "Prices";
}

<div class="prices">
    @Html.Partial("_LeftMenu")
    <div class="img-div">
        <h3>Ціни</h3>
        <img src="http://cyberzone.kiev.ua/upload-files/cennik_cz_vip_zone_2018_2-600.gif">
    </div>
</div>
