
@{
    ViewBag.Title = "Schedule";
}

<div class="schedule">
    @Html.Partial("_LeftMenu")
    <div class="img-div">
        <h3>Режим роботи</h3>
        <p>
            Клуб працює Кожний день. 9.00-07.00
        </p>
    </div>
</div>

