@model IEnumerable<ComputerClub.Models.Test>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    sss
    @foreach (var item in Model) {
        <p>@item.Name</p>
    }

</body>
</html>
