
@{
    ViewBag.Title = "Index";
}

<div class="platforms">
    @Html.Partial("_LeftMenu")
    <div class="img-div">
        <h3>Усі івенти</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Назва івенту</th>
                    <th>Дата і час початку івенту</th>
                    <th>Дата і час кінця івенту</th>
                    <th>Ціна</th>
                    <th>Зал</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#">Турнір по
                            <span class="game-name">Dota 2</span>
                        </a>
                    </td>
                    <td>08.02.2020 14:00</td>
                    <td>10.02.2020 14:00</td>
                    <td>0 грн.</td>
                    <td>Standart</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

